.header
        {
            width: 100%;
            float:left;
            background-color: whitesmoke;
        }
        .left1
        {
            width:25%;
            float:left;
        }
        .limg
        {
            width:40%;
            float:left;
        }
        .limg img
        {
            width:100%;
            float:left;
        }
        .left1 h2
        {
            margin-left: 50px;
            font-size: 20px;
        }
        .right1
        {
            width:100%;
            float:left;
        }
        .list
        {
            width:100%;
            float:left;
        }
        .list ul
        {
            width:100%;
            float:left;
        }
        .list ul li
        {
            text-decoration: none;
            display: inline-block;
            margin-left: 60px;
        }
        .list ul li b
        {
            margin-left: -18px;

        }
        .about
        {
            width:100%;
            float:left;
        }
        .a1
        {
            width:50%;
            float:left;
        }
        .a1 h5
        {
            margin-top: 100px;
            margin-left: 150px;
        }
        .a1 h1
        {
            margin-left: 150px;
        }
        .a1 p
        {
            margin-left: 150px;
        }
        .a1 input
        {
            margin-left: 150px;
            background-color: cyan;
        }
        .a2
        {
            width:50%;
            float:left;
        }
        .a2  img
        {
            width:100%;
            height: 350px;
        }
        .ab1
        {
            width:100%;
            float:left;
        }
        .a3
        {
            width:50%;
            float:left;
            margin-top: 100px;
        }
        .a3 b
        {
            margin-top: 100px;
            margin-left: 150px;
        }
        .a3 h1
        {
            margin-left: 150px;
        }
        .a3 p
        {
            margin-left: 150px; 
        }
        .a4
        {
            width:50%;
            float:left;
        }
        .a4  img
        {
            width:100%;
            height: 350px;
        }
        .md 
        {
    
         width: 100%;
          text-decoration:none;
      }
      b{
        text-decoration: none;
      }
      a{
        text-decoration: none;
      }
body{
    margin: 0;
    width: 100%;
    float: left;
}