body {
    background-image: url('images/fd1.jpg');
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    float: left;
    margin-left: 22%;
    margin-top: 125px;

}

.header {
    width: 100%;
    float: left;
    margin-top: -60px;
}

.si {
    width: 58%;
    float: left;
    text-align: center;
}

.t {
    width: 100%;
    float: left;
    text-align: center;
    color: aliceblue;
}

.t h1 {
    color: black;
}

.t1 {
    margin-top: 30px;
    color: black;
}

.t2 {
    margin-top: 30px;
    color: black;
}

.t3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.t3 input {
    cursor: pointer;
}

.t4,
.t5 {
    margin-top: 25px;
}

.t6 input {
    margin-top: 30px;
    cursor: pointer;
}

.error {
    color: red;
}